/* 
(bundle from remote urls) 
@import '//css-from-url';

(bundle from npm)
@import 'css-from-npm';

(bundle from local)
@import 'localfile.css' 

(PresetENV)
CSS powers @ https://preset-env.cssdb.org/features

(Easings)
only imports what you use 
https://easings.net
*/

img#profile {
  max-width: 10rem;
  border-radius: 100% 0px 100% 100%;
}

svg {
  fill: currentColor;
  height: 1.5rem;
  width: 1.5rem;
}

.social a {
  width: 30px;
  display: inline-block;
  margin: 8px;
}

.github {
  color: var(--text);
}

.youtube {
  /* color: #FF0000; */
  color: var(--text);
}

.twitter {
  /* color: #1DA1F2; */
  color: var(--text);
}
