#post-list {
    list-style-type: none;
}

.hentry {
    border: solid 2px hsl(0, 0%, 80%);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: scroll;
}

#post-list {
    margin: 0;
    padding: 0;
}

.article img {
    margin: 0 auto;
    display: block;
}

.article th {
    background-color: #262626;
    color: var(--text);

    @media (prefers-color-scheme: light) {
        background-color: #CCC;
        color: #000;
    }
}

.article table {
    background-color: #f1f4f5;
    display: table-cell;
    border-spacing: 0;
    background: var(--surface);
    color: var(--text);
}

.article th, .article td {
    border: 1px solid #333;

    @media (prefers-color-scheme: light) {
        border: 1px solid #dadfe2;
    }
    padding: 4px;
    display: table-cell;
}

.tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    padding: 5px;
    background-color: var(--surface-accent);
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: .8em;
}

.article code {
    line-height: 1.3;
}
