/* 
(bundle from remote urls) 
@import '//css-from-url';

(bundle from npm)
@import 'css-from-npm';

(bundle from local)
@import 'localfile.css' 

(PresetENV)
CSS powers @ https://preset-env.cssdb.org/features

(Easings)
only imports what you use 
https://easings.net
*/

img.profile {
    width: 200px;
    border-radius: 50%;
}

.social svg {
    fill: currentColor;
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
    margin-right: 5px;
}

.social {
    margin-top: 20px;
}

.social a {
    display: inline-block;
    margin: 8px;
    min-width: 120px;
}

.github {
    color: var(--text);
}

.youtube {
    /* color: #FF0000; */
    color: var(--text);
}

.twitter {
    /* color: #1DA1F2; */
    color: var(--text);
}
