.loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px dotted var(--text);
    border-radius: 50%;
    border-top-color: var(--brand);
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.resume h1,
.resume h2,
.resume h3 {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.col {
    align-items: flex-start;
    margin-right: 50px;
    word-break: break-word;
}

.skills {
    margin-top: 10px;
}
.skill {
    display: inline-block;
    padding: 10px;
    background-color: var(--surface-accent);
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.history {
    margin-top: 30px;
}
.historyItem {
    margin-bottom: 50px;
}
.historyItem h2 {
    padding-bottom: 5px;
    border-bottom: solid 1px var(--brand);
}
