.project {
  width: 270px;
  float: left;
  padding: 15px;
  margin: 10px;
  background-color: #FFF;
  color: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 230px;
}
.project p {
  width: auto !important;
}

.project h2 {
  padding: 0;
  margin: 0;
  font-size: 23px;
}

.tags span {
  background-color: #0e94ec;
  color: #FFF;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}

.screenshot {
  margin-top: 30px;
  float: right;
}

.twitter-ico, .github-ico, .linkedin-ico {
  width: 30px;
}

ul.index {
  margin-top: 20px;
  list-style: none;
}

ul.index li {
  float: left;
  display: block;
  vertical-align: middle;
  text-align: center;
  line-height: 4em;
  height: 4em;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}

ul.index li a {
  vertical-align: middle;
  line-height: 2em;
}

.entry ul {
   padding-left: 35px;
}

a h1 {
  color: #2a4260;
  margin-bottom: 10px;
  text-decoration: none;
}

h2 {
  font-size: 2em;
  font-weight: 900;
  line-height: 1.3;
  margin: 0.8em 0 0.0455em 0;
  -webkit-font-smoothing: antialiased;
}

.clear {
  clear: both;
}

pre {
  width: 100% !important;
}

#posts {
  width: 70%;
  padding-left: 10px !important;
}

#sidebar {
  position: absolute !important;
}

.entry-content {
  border-bottom: dashed #CCC;
}


.resume .contact ul, .resume .contact ul li {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.resume .contact {
  float: right;
  border: solid 1px #CCC;
  padding: 10px;
}

.resume .exp {
  padding: 10px;
}

.resume .exp ul {
  list-style-type: square;
}

ul.skills {
  list-style: none !important;
}

.skills li {
  float: left;
}
