/* 
(bundle from remote urls) 
@import '//css-from-url';

(bundle from npm)
@import 'css-from-npm';

(bundle from local)
@import 'localfile.css' 

(PresetENV)
CSS powers @ https://preset-env.cssdb.org/features

(Easings)
only imports what you use 
https://easings.net
*/

:root {
  --surface: rgb(27, 27, 27);
  --text: rgb(198, 198, 198);
  --brand: rgb(214, 127, 172)
}

@media (prefers-color-scheme: light) {

:root {
    --surface: rgb(249, 249, 249);
    --text: rgb(70, 70, 70);
    --brand: rgb(251, 102, 180)
}
  }

@media (prefers-color-scheme: light) and (dynamic-range: high) {

:root {
      --brand: color(display-p3 1 0 1)
}
    }

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;

  display: grid;
  align-content: center;
  justify-content: center;
  place-content: center;
  gap: 2ch;

  background: rgb(27, 27, 27);

  background: var(--surface);
  color: rgb(198, 198, 198);
  color: var(--text);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

body,p,ul,dl,dd,dt,figure,
h1,h2,h3,h4,h5,h6,small {
  margin: 0;
}

a {
  color: color(display-p3 0 .5 1)
}

a:visited {
    color: color(display-p3 .5 0 1);
  }

h1,h2,h3,h4,h5,h6 {
  line-height: 1.5;
  max-inline-size: 25ch;
}

p {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 300;
  max-inline-size: 45ch;
}

::-moz-selection {
  background-color: rgb(214, 127, 172);
  background-color: var(--brand);
}

::selection {
  background-color: rgb(214, 127, 172);
  background-color: var(--brand);
}
